

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow" style="width: 30rem;">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Login</h2>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="txt-username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="txt-password" name="password" required>
            </div>
            <div id="div-error" style="color:red; margin-bottom:20px;"></div>
            <button id="bt-login" class="btn btn-primary w-100">Login</button>
        </div>
    </div>
</div>


<script src="~/js/Auth/login.js"></script>